@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body, button, input {
    font-family: 'Noto Sans', sans-serif;
}

ul {
    list-style-type: none;
}

button, input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#buttonbutton {
    padding: .25%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: steelblue;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

#body {
    margin-left: 15vw;
    margin-right: 10vw;
}

.block {
    display: inline-block;
    padding: 1vw;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 25vw;
    max-height: 25vw;
    vertical-align: top;
}

.block img {
    max-height: 20vw;
    max-width: 20vw;;
}

.block img:hover {
    opacity: .8;
}

#nav {
    display: inline;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    min-width: 50%;
    max-width: 50%;
    float: right;
    text-align: right;
}

#nav h1 {
    max-width: 50%;
    margin-right: 0;
    margin-left: 0;
    display: inline;
}

#nav li {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    border-left: solid;
    border-width: 1px;
}

#usertags {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#usertags img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 80vh;
}

#usertags_in {
    display: inline;
}

#usertags_in img {
    margin-bottom: 5%;
}

.dtag {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    /* border-width: 1%; */
}

#tagdeleter {
    color: steelblue;
}


#tagdeleter:hover {
    color: red;
}

#tagcontainer {
    padding-top: 15vh;
    font-size: 150%;
}

.tagblock {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.tagblock h4 {
    margin: 0 0 0 0;
}

.tagblock:hover {
    color: steelblue;
}

textarea {
    width: 100%;
    height: 8vh;
    resize: none;
    font-family: Noto Sans;
}

header {
    border-bottom: solid;
}

@media screen and (max-width: 900px) {
    #nav {
        display: none;
    }
    #myLinks {
        display: none;
    }

    #mobilenav a.icon {
        display: block;
        float: right;
    }

    #mobilenav h1 {
        display: inline;
    }

    #mobilenav a {
        display: block;
        padding-left: 3%;
    }
}

@media screen and (min-width: 901px) {
    #mobilenav {
        display: none;
    }
}