@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body, button, input {
  font-family: 'Noto Sans', sans-serif;
}
#hidebutton {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 40px;
  /* rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) */
  background-color: rgba(130,140,149,1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}
.deleteform {
  position: absolute;
  display: inline-block;
}
#hidebutton:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
#logcred {
  font-size: 8px!important;
}
#sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
#sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}
#sidebar h4 {
  padding-top: 6px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
}
#sidebar a:hover {
    color: #f1f1f1;
}
#page {
  padding-left: 340px;
  padding-right: 40px;
}
#page h4 {
  font-size: 35px;
}
#page h5 {
  font-size: 20px;
}
#top {
  margin-top: 0px;
  font-size: 50px;
  padding-top: 0px;
  padding-left: 340px;
  height: 150px;
  background: -moz-linear-gradient(left, rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) 100%);
  background: -webkit-linear-gradient(left, rgba(181,189,200,1) 1%,rgba(130,140,149,1) 24%,rgba(40,52,59,1) 100%);
  background: linear-gradient(to right, rgba(181,189,200,1) 1%,rgba(130,140,149,1) 24%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}
#top h1 {
  /* font-size: 7vw; */
  margin: 0px;
  max-width: 100%;
  word-wrap: break-word;
}
#search {
  padding-left: 300px;
  font-size: 40px;
}
#search input {
  width: 200px;
  font-size: 27px;
}
#search button {
  border: none;
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  background-color: rgba(130,140,149,1);
  padding: 7px 20px;
}

#search button:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
#body {
  margin-top: 0px;
  margin-right: 0px;
}
.addblock {
  padding: 20px;
  width: 800px;
  max-width: 800px;
  height: auto;
  max-height: 600px;
}
.addblock img{
  width: auto;
  max-width: 800px;
  height: auto;
  max-height: 459px;
}
.addblock img:hover {
  opacity: .8;
}
.block {
  display: inline-block;
  padding: 20px;
  width: 450px;
  max-width: 450px;
  min-height: 470px;
  max-height: 470px;
  vertical-align: top;
}
.block img{
  width: auto;
  max-width: 450px;
  height: auto;
  max-height: 280px;
}
.block img:hover {
  opacity: .8;
}
.tagblock {
  display: inline-block;
}
img {
  height: 280px;
}
li {
  list-style-type: none;
}
.logincont {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.login {
  height: 1000px;
  grid-column: 4/7;
  text-align: center;
  font-size: 40px;
  background-color: rgb(211, 217, 222, 1);
}
.login label {
margin: none;
padding: none;
}
.login input {
  font-size: 30px;
  float: right;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.login a {
  color: inherit;
  text-decoration: inherit;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 40px;
  background-color: rgba(130,140,149,1);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.login a:hover {
  background-color: rgba(181,189,200,1);
  color:black;
}
.login button {
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 40px;
    /* rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) */
    background-color: rgba(130,140,149,1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}
.login button:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
.login img {
  margin-top: 10px;
  height: 450px;
}
#log {
    background: -moz-linear-gradient(bottom, rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) 100%);
  background: -webkit-linear-gradient(bottom, rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) 100%);
  background: linear-gradient(to top, rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
#tags {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 40px;
  background-color: rgba(130,140,149,1);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
#tags:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
.usertags {
  width: 600px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}
.usertags a {
  text-decoration: none;
}
.usertags img {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 600px;
}
.usertags img:hover {
  opacity: 1;
}
.addtags {
  margin-top: 9px;
  font-size: 30px;
  float: left;
}
.addtags input {
  word-break: break-word;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}
.addtags button {
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 40px;
  /* rgba(181,189,200,1) 1%, rgba(130,140,149,1) 24%, rgba(40,52,59,1) */
  background-color: rgba(130,140,149,1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
}
.addtags button:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
.addlabel {
  display: block;
}
.dtag {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(130,140,149,1);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  width: auto;
  display: inline-block;
}
.dtag a {
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}
.dtag a:hover {
  color: black;
}
.dtag:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
.dtag button{
  background:none!important;
  color:inherit;
  border:none;
  padding-left:0!important;
  padding-right:0!important;
  font: inherit;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-left: 5px!important;
}
.dtag button:hover {
  color:red;
  cursor: pointer;
}
textarea {
  resize: none;
  font-family: 'Cinzel', serif;
}
#addpicture {
  font-size: 30px;
  width:30%;
}
#addpicture input{
  font-size: 20px;
  width: 334px;
  margin-left: 5px;
}
#addpicture button {
  margin-left: 325  px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(130,140,149,1);
  padding: 7px 20px 7px 20px;
  float:right;
}

#addpicture button:hover {
  background-color: rgba(181,189,200,1);
  color:black;
  cursor: pointer;
}
.uploadsuccess {
  font-size: 40px;
}
.uploadsuccess a {
  text-decoration: none;
}
p {
  font-size: 10px;
}
